<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <appSettings>
    <add key="BatchAccountName" value="ENTER BATCH ACCOUNT NAME" />
    <add key="BatchAccountKey" value="ENTER BATCH ACCOUNT KEY" />
    <add key="BatchAccountUrl" value="ENTER BATCH ACCOUNT URL" />
    <add key="StorageAccountName" value="ENTER STORAGE ACCOUNT NAME" />
    <add key="StorageAccountKey" value="ENTER STORAGE ACCOUNT KEY" />
    <add key="PoolID" value="PoolID" />
    <add key="JobID" value="JobID" />
    <add key="FilesPerTask" value="ENTER INTEGER: INPUT FILES PER TASK" />
    <add key="PoolSizeDedicated" value="0" />
    <add key="PoolSizeLowPriority" value="20" />
    <add key="NodeSize" value="Standard_D8_v3" />
    <add key="TimeOutLimit" value="600" />
  </appSettings>
  <system.net>
    <requestCaching defaultPolicyLevel="NoCacheNoStore"/>
  </system.net>
</configuration>
